<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <title>SKU_PnP</title>
  </head>
  <body>
    <!-- Nav container -->
    <nav class="navbar">
      <!-- Logo with text -->
      <div class="navbar__logo">
        <i class="fab fa-accusoft"></i>
        <li>성결대 청원 사이트</li>
      </div>
      <!-- Menu -->
      <ul class="navbar__menu">
        <li><a href="">홈</a></li>
        <li><a href="/guide">청원안내</a></li>
        <li><a href="/login">로그인</a></li>
        <li><a href="/join">회원가입</a></li>
      </ul>
      <!-- Icons -->
      <ul class="navbar__icons">
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-facebook-f"></i></li>
      </ul>
    </nav>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="main.js" defer></script>
  </body>
</html>