<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <title>SKU_PnP</title>
  </head>
  <body>
        <p>성결대 청원 작성 시 유의사항</p>
        <li>① 청원서 작성 전에 비슷한 내용의 청원이 진행 중인지 확인해 주시기 바랍니다.</li> 
        <li>② 제목은 청원 사항이 명확히 드러나도록 하되. 50글자 이하로 간명하게 명사절로 작성하시기 바랍니다.</li>
        <li>올바른 청원 제목 작성 예시)</li>
        <li>- 국가 장학금 신청에 관한 청원</li>
        <li>- 학생회비 지출 내역에 관한 청원</li>
      </ul>
    </nav>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="guide.js" defer></script>
  </body>
</html>